{% extends "layout.jinja2" %} 

{% block content%}
<div align="center" class="content">
<form>
  <input type="text" placeholder="Искать здесь...">
  <button type="submit"></button>
</form>
</div>
{% endblock content %}
